# Imbalanced Dataset Handling
1. Up sampling
2. Down sampling

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Set the random seed for reproducibility.
np.random.seed(123)

# Create a dataframe with two classes.
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [6]:
n_class_0, n_class_1

(900, 100)

In [12]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [19]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [22]:
df.head()

   feature_1  feature_2  target
0  -0.650884   1.375188       0
1   2.079573   0.524683       0
2   1.445297   0.230819       0
3  -0.668054   0.127475       0
4  -0.581201  -1.441303       0

In [28]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling technique