## Measure of Central Tendency

In [30]:
# mean
age1 = [25,68,78,15,45,96,35,14,8,65,15,74]

In [31]:
import numpy as np
np.mean(age1)

44.833333333333336

In [32]:
import seaborn as sns
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [33]:
np.mean(df['total_bill'])

19.78594262295082

In [34]:
np.mean(age1)

44.833333333333336

In [35]:
np.median(age1)

40.0

## With one outlier 2000 in age.

In [36]:
age = [25,68,78,15,45,96,35,14,8,65,15,74,2000]

In [37]:
np.mean(age) # mean is higher than actual, so in this method mean doesn't work well.

195.23076923076923

##### Instead of mean we use Median to to get rid of result of outlier effect.

In [39]:
np.median(age) # there is less difference compare to previos mean which have no outlier.

45.0

## Mode

In [43]:
from scipy import stats

In [44]:
stats.mode(age)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6504\2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([15]), count=array([2]))

In [47]:
stats.mode(df['total_bill'])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6504\932912092.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(df['total_bill'])

ModeResult(mode=array([13.42]), count=array([3]))

### Extra reverse string learning & Join function

In [64]:
name = "Mayur"

In [65]:
reversed(name) # output is iterator that yields the character of the name in reverse order.

In [66]:
''.join(reversed(name)) # join this characters(iterables) into one new string without any seperator('').

'ruyaM'

In [26]:
sorted(age, reverse=True)

[2000, 96, 78, 74, 68, 65, 45, 35, 25, 15, 15, 14, 8]